<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :'partials/headHelper' %>
    <title>Game Stats App</title>
  </head>
  <body style="padding-top:50px">

    <%= erb :'partials/navbar' %>

  	<table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Stat</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% for i in 0..names.size-1 %>
        <tr>
          <td></td>
          <td><%= names[i] %></td>
          <td><%= values[i] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>